.c__item {
	background-color: #f9f9f9;
	min-height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid transparent;
	transition: $transition;
	@media (min-width: 768px) {
		min-height: 360px;
	}
}

.c__item:hover {
	border: 1px solid #000000;
	background-size: 110% !important;
}

.c-item__arrow {
	transition: $transition;
	stroke: #000;
}

.c__item-button {
	transition: $transition;
}

.c__item:hover .c__item-button {
	color: $accent;
}

.c__item:hover .c-item__arrow  {
	stroke: $accent;
}

.c__item {
	margin-bottom: 20px;
	text-decoration: none;
	padding: 16px;
	@media (min-width: 768px) {
		padding: 32px;
	}
}

.c-item__img {
	height: 100%;
	width: 100%;
	background-position: center center;
}

.c__item-title {
	font-weight: 700;
	font-size: 21px;
	line-height: 25px;
}

.c__item-more {
	font-size: 10px;
	line-height: 12px;
}

.c-item__arrow {
	margin-right: 4px;
}


.main .products-categories__grid-4>li {
	max-width: 25%;
}

