.header__action {
	display: none;
}

.header__info-link {
	color: #000000;
}

a, button, p{
	color: #000 !important;
}

.header__language-menu {
	display: flex;
	align-items: center;
	gap: 18px;
}

.header__acc-link, .header__call-link, .header__currency-link, .header__email{
	border: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.header__email {
	margin-right: 64px;
	display: flex;
	align-items: center;
}

.header__call-link {
	display: flex;
	align-items: center;
}

.header__call-link svg{
	margin-right: 8px;
	margin-top: -2px;
}

.header__email svg {
	margin-right: 8px	;
}

.header__acc-btn {
	border: none;
}

.header__cart-btn svg {
	margin: 0;
}

.header__cart-btn {
	border: none;
}

.header__search-compact-btn {
	border: none;
}

.header__language-link  {
	padding: 0;
	font-size: 10px;
}

.header__call {
	display: flex;
	gap: 64px;
}

.header__group {
	justify-content: flex-start;
}

.is-header-v4 .header__search-compact, .is-header-v4 .header__acc, .is-header-v4 .header__action, .is-header-v4 .header__cart {
	
	@media (min-width: 768px) {
		margin-right: 8px;
	}
	@media (min-width: 992px) {
		margin-right: 16px;
	}
	@media (min-width: 1200px) {
		margin-right: 32px;
	}
}

.is-header-v4 .header__row--01 {
	padding: 8px 0;
}

.header__cart-total {
	display: none;	
}

.header__cart-btn {
	display: block;
}

.intro__item-image {
	max-width: 100%;
	padding: 0;
}

.intro__item-desc, .intro__item-desc--dark {
	margin-top: 200px;
	padding: 0;
}

.intro__item {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: start;
	@media (min-width: 768px) {
		padding: 0;
	}
}

.intro__item-image img {
	height: 100vh;
	width: 100vw;
	max-width: 100vw;
}

.intro {
	padding-top: 0;
}

.swiper-control {
	display: none;
}

.intro__img {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
}

.header {
	position: absolute;
	background: transparent;
}

.intro__item-price {
	display: flex;
	align-items: center;
	background: transparent;
	padding: 0;
	height: auto;
	margin: 0;
}

.intro__item-price p {
	color: #E46515 !important;
	font-size: 16px;
	margin: 0;
}

.intro__item-price svg {
	margin-top: 2px;
	margin-right: 4px;
} 

.intro__item-title {
	font-size: 56px;
	line-height: 49px;
}

.intro__item-info {
	color: #000;
	opacity: 1;
}

.intro__item-desc, .intro__item-desc--dark {
	margin-left: 40px;
}

.header__language-menu li{
	margin: 0;
	padding: 0;
}

.swiper-intro .swiper-pagination {
	position: absolute;
	align-items: flex-start;
	right: auto;
	left: auto;
	justify-content: flex-start;
	bottom: 56px;
	margin-left: 40px;
}

.swiper-intro .swiper-pagination-bullet {
	background: transparent;
	border: 2px solid #000;
}

.swiper-pagination-bullet {
	height: 11px;
	width: 11px;
	border-radius: 360px;

}

.swiper-intro .swiper-pagination-bullet-active {
	background: #000;
}

.header__cart-counter mark {
	background: #000;
}

.is-header-v3 .intro, .is-header-v4 .intro, .is-header-v5 .intro, .is-header-v6 .intro {
	padding-top: 0;
}

.header__search-btn, .header__acc-btn, .header__cart-btn {
	height: auto;
	width: auto;
}

.header__cart-btn {
	padding: 0;
	margin-top: -6px;
}

.header__cart {
	display: flex;
	align-items: center;
}

.intro__item {
	text-align: start;
}

.intro__item-title {
	margin-left: 0;
}

.intro__item-desc {
	margin-left: 0;
	margin-top: 96px;
	@media (min-width: 768px) {
		margin-top: 164px;
		margin-left: 40px;
		
	}
}

.header__nav-action {
	display: none;
}

.header__nav-cart-btn {
	padding-right: 4px;
}

.header__group {
	justify-content: flex-end;
}