// .icon {
// 	display: inline-block;
// 	width: 1em;
// 	height: 1em;
// 	fill: currentColor;
// }

.icon-acc {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
.icon-arrow-back {
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 15px;
}
.icon-arrow-btn {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 9px;
}
.icon-arrow-categories {
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 5px;
}
.icon-arrow-down {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 7px;
}
.icon-arrow-left {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 16px;
}
.icon-arrow-link {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 9px;
}
.icon-arrow-right {
	display: inline-block;
	vertical-align: middle;
	width: 7px;
	height: 12px;
}
.icon-arrow-search {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 9px;
}
.icon-arrow-select {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 7px;
}
.icon-arrow-toggle {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 8px;
}
.icon-call {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
.icon-cancel {
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 9px;
}
.icon-cart {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
.icon-cart-small {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
.icon-catalog {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 11px;
}
.icon-catalog-accessories {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 15px;
}
.icon-catalog-audio {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 17px;
}
.icon-catalog-bags {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 16px;
}
.icon-catalog-games {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 11px;
}
.icon-catalog-health {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 15px;
}
.icon-catalog-home {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 16px;
}
.icon-catalog-laptops {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 13px;
}
.icon-catalog-phones {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 16px;
}
.icon-catalog-services {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 15px;
}
.icon-catalog-smarthouse {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 16px;
}
.icon-catalog-tech {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 17px;
}
.icon-catalog-transport {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 19px;
}
.icon-catalog-tv {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 15px;
}
.icon-catalog-watch {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 16px;
}
.icon-chat {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
}
.icon-chat-close {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
}
.icon-chat-messenger {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 60px;
}
.icon-chat-skype {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 60px;
}
.icon-chat-telegram {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 60px;
}
.icon-chat-viber {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 60px;
}
.icon-chat-vk {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 60px;
}
.icon-chat-whatsapp {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 60px;
}
.icon-clear {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
}
.icon-close {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
.icon-close-alerts {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 17px;
}
.icon-close-cart {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
}
.icon-comments {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 14px;
}
.icon-compare {
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 19px;
}
.icon-compare-active {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 22px;
}
.icon-decrease {
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 11px;
}
.icon-discount {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
}
.icon-dislike {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
.icon-display-compact {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 11px;
}
.icon-display-grid {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 11px;
}
.icon-display-line {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 11px;
}
.icon-dot {
	display: inline-block;
	vertical-align: middle;
	width: 5px;
	height: 5px;
}
.icon-dots {
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	height: 18px;
}
.icon-down {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 9px;
}
.icon-error {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
.icon-favorites {
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 17px;
}
.icon-favorites-active {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 17px;
}
.icon-fullscreen {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 13px;
}
.icon-gift {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 14px;
}
.icon-help {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
}
.icon-increase {
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 11px;
}
.icon-lightning {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 13px;
}
.icon-like {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
.icon-location {
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 14px;
}
.icon-nav-acc {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
.icon-nav-cart {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
.icon-nav-catalog {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
}
.icon-nav-compare {
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 19px;
}
.icon-nav-search {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
.icon-next {
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 16px;
}
.icon-payments-apple {
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 11px;
}
.icon-payments-google {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 11px;
}
.icon-payments-mastercard {
	display: inline-block;
	vertical-align: middle;
	width: 23px;
	height: 14px;
}
.icon-payments-visa {
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 8px;
}
.icon-prev {
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 16px;
}
.icon-repeat {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 10px;
}
.icon-replace {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 13px;
}
.icon-reset {
	display: inline-block;
	vertical-align: middle;
	width: 9px;
	height: 9px;
}
.icon-search {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
.icon-set {
	display: inline-block;
	vertical-align: middle;
	width: 62px;
	height: 62px;
}
.icon-share {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
}
.icon-social-telegram {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
}
.icon-social-viber {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
}
.icon-social-whatsapp {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
}
.icon-star {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 14px;
}
.icon-star-fill {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
}
.icon-stock {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
}
.icon-subsc {
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
}
.icon-toggle {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 12px;
}
.icon-up {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 9px;
}
.icon-valid {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
.icon-video {
	display: inline-block;
	vertical-align: middle;
	width: 44px;
	height: 31px;
}
.icon-view {
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 14px;
}
.icon-views {
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 12px;
}

