<div class="fancybox-is-hidden popup" id="popup-age">
	<div class="age">
		<span class="age__title">{{ text_prostore_adult_title }}</span>
		<p class="age__text">{{ text_prostore_adult_warn }}</p>
		<div class="row">
			<div class="col-6">
				<a class="ui-btn ui-btn--60 ui-btn--red ui-btn--fullwidth" href="//www.google.com/">{{ text_prostore_adult_no }}</a>
			</div>
			<div class="col-6">
				<button class="ui-btn ui-btn--60 ui-btn--green ui-btn--fullwidth js-adult" data-fancybox-close>{{ text_prostore_adult_yes }}</button>
			</div>
		</div>
	</div>
</div>